/********** Base styles **********/
* {
    box-sizing: border-box;
  }
  
  html {
    border: none;
    background-color: #ffffff;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: #000000;
  }

  h1 {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    color: #000000;
  }

  #box1 {
    background-color: #008b8b;
    padding: 10px;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    overflow: auto;
  }
  
  #box2 {
    background-color: #898b00;
    padding: 10px;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    overflow: auto;
  }
    
  #box3 {
    background-color: #cde20e;
    padding: 10px;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    margin-top: 20px;
    overflow: auto;
  }
  .row {
    width: 100%;
  }
  
  /********** Large devices only **********/
  @media (min-width: 992px) {

  }
  
  /********** Medium devices only **********/
  @media (min-width: 991px) and (max-width: 768px) {
  
  }

  /********** Small devices only **********/
  @media (max-width: 767px) {
  
    }
  